.bodyWrapper {
  display: grid;
  grid-template-rows: 5vh 89vh 6vh;
  min-height: 100vh;
  background: linear-gradient(86deg, #414141 17.47%, #222A27 83.41%);
}

@media all and (min-width: 1194px) {
  .bodyWrapper {
    grid-template-rows: 6vh 88vh 6vh;
  }
}