.bodyWrapper {
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-rows: 95px 1fr 69px;
  /* min-height: 100vh; */
  background: linear-gradient(86deg, #414141 17.47%, #222A27 83.41%);
}

@media (max-width: 430px) and (orientation: portrait) {
  .bodyWrapper {
    grid-template-rows: 90px 1fr 69px;
  }
}

@media all and (orientation: landscape) {
  .bodyWrapper {
    grid-template-rows: 6vh 88vh 6vh;
  }
}

@media (max-height: 768px) and (orientation: landscape) {
  .bodyWrapper {
    grid-template-rows: 46px 675px 46px;
    overflow-y: scroll;
  }
}

/* @media all and (min-width: 1050px) {
  .bodyWrapper {
    grid-template-rows: 6vh 88vh 6vh;
  }
} */

/* @media all and (min-width: 1085px) {
  .bodyWrapper {
    grid-template-rows: 6vh 88vh 6vh;
  }
} */

/* @media all and (min-height: 1360px) {
  .bodyWrapper {
    grid-template-rows: 138px 1fr 69px;
  }
} */