.calMonth {
  grid-row: 1;
  grid-column: 1 / span 7;
  display: flex;
  /* padding-top: 8px; */
}

.yearHidden {
  display: none;
}

.calArrowLeft, .calArrowRight {
  align-self: center;
}

.calArrowLeft {
  padding-left: 10px;
}

.calArrowRight {
  padding-right: 10px;
}

.calArrowLeftDisabled, .calArrowRightDisabled {
  display: none;
}

.calArrowLeft button, .calArrowRight button {
  background-color: transparent;
  border: none;
}

.calArrowLeft button:focus, .calArrowRight button:focus {
  outline: none;
}

.calArrowLeft button:focus-visible, .calArrowRight button:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

p.calText {
  color: rgba(254, 255, 218);
  font-family: Dongle;
  font-size: 38px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: 3.6px;
  width: 100%;
  text-align: center;
  align-self: center;
  background: linear-gradient(180deg, rgba(221, 219, 219, 0.719) 0%, rgba(139, 139, 139, 0.673) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding-top: 1px;
}

/* .dateContainer {
  max
} */

[role="row"] {
  display: contents; /* So the row doesn't interfere with the visual layout */
}

time.date {
  margin: 4px 0 0 4px;
  color: #5A5C5B;
  font-family: Dongle;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.date:nth-last-child(-n+28) {
  font-weight: 400;
}

.percentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

span.propPercent {
  /* margin: 2px 0 0 0; */
  font-family: Akatab;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: translateY(-5px);
  width: 100%;
  text-align: center;
  /* width: 68%;   // use these styles if want % sign with number
  text-align: right; */
  margin: 0;
}

p.percentSign {
  color: #5A5C5B;
  font-feature-settings: 'sups' on;
  font-family: Akatab;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 10px;
  margin: 0 0 14px 1px;
}

.listItemCal {
  display: grid;
  justify-content: center;
  align-items: center;
}

.dateBubble {
  display: grid;
  padding: 0;
  width: 42px;
  height: 49px;
  border-radius: 8px;
  text-align: left;
  border: none;
  box-shadow: 4px 8px 10px 0px rgba(16, 15, 15, 0.10);
  cursor: pointer;
}

.dateBubble:focus {
  outline: none;
}

.dateBubble:focus-visible {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.popoverContent {
  font-family: Dongle;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  background-color: #E4E4E4;
  box-shadow: 4px 4px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 8px 8px 7px 8px;
  border-radius: 13px;
  box-sizing: border-box;
  min-width: 100%;
  outline-color: transparent;
  max-width: 300px;
  position: relative;
}

.popoverArrow {
  width: 16px;
  height: 10px;
  margin-left: 20px;
  transform: translateY(-6px);
}

.popoverContent:focus, .popover-trigger:focus-visible  {
  outline: none;
  outline-color: transparent;
}

.popHeaderHoliday {
  color: #ff4747;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 5px 10px 5px;
}

.popHeaderEvent {
  color: #ff4747;
  margin: 10px 5px 0 5px;
  font-weight: 400;
}

.popEventName {
  margin: 3px 5px 5px 5px;
  text-transform: none;
  font-family: Akatab;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 12px;
}

.popEventDescription {
  font-size: 95%;
  text-transform: none;
  max-width: 100%;
  font-family: Akatab;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  margin: 0 10px 10px 5px;
  box-decoration-break: clone;
  -webkit-box-decoration-break:clone;
}

@media (max-width: 666px) and (orientation: portrait) {
  .dateBubble {
    width: 44px;
    height: 44px;
  }
}

@media (min-width: 667px) and (orientation: portrait) {
  .dateBubble {
    width: 40px;
    height: 50px;
  }
}

@media all and (min-width: 1025px) {
  .dateBubble {
    width: 44px;
    height: 44px;
  }
}

@media all and (min-width: 1194px) {
  .dateBubble {
    width: 46px;
    height: 46px;
  }
}

@media (max-height: 768px) and (orientation: landscape) {
  .dateBubble {
    width: 44px;
    height: 44px;
  }
}