.costGoodsWrapper {
  grid-row: 2;
  grid-column: 2;
}

.tabCostGoodsWrapper, .costGoodsWrapper {
  background: #262B29;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.25) inset;
  max-width: 100vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiddenCostGoodsWrapper {
  display: none;
}

.costGoodsHeader {
  display: grid;
  width: 100%;
  grid-template-columns: .2fr 1fr .2fr;
}

.costLabelContainer {
  grid-column: 2;
  justify-self: center;
  width: 169px;
  height: 35px;
  border-radius: 0px 0px 13px 13px;
  background: #222725;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.14) inset;
}

.costLabel {
  padding-top: 3px;
  color: #FEFFDA;
  text-align: center;
  font-family: Dongle;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin: 0;
}

.costGoodsHeader svg {
  grid-column: 3;
  justify-self: end;
  padding-top: 3px;
  padding-right: 20px;
  height: 19px;
}

.controlContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
}

.porArrowContainerInc, .porArrowContainerDec {
  grid-column: 1 / span 2;
  justify-self: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 14px 0;
}

.porArrowContainerDec svg {
  transform: rotate(180deg);
  transform-origin: center; /* Default is the center, can also use 'top left', '50% 50%', etc. */  
}

.redArrow {
  grid-column: 1;
  grid-row: 2;
  justify-self: end;
  align-self: last baseline;
  padding-right: 36px;
  /* padding-bottom: 5px; */
}

.greenArrow {
  grid-column: 2;
  grid-row: 2;
  justify-self: start;
  align-self: last baseline;
  padding-left: 36px;
  /* padding-bottom: 5px; */
}


.redArrow:hover, .greenArrow:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.goodsContainer {
  grid-column: 1 / span 2;
}

.decreaseContainer {
  grid-column: 2;
  /* margin-left: 10px; */
}

.increaseContainer {
  grid-column: 1;
  /* margin-right: 10px; */
}

.goodsContainer, .decreaseContainer, .increaseContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  width: 100%;
  height: 50vh;
  overflow-y: scroll;
  overscroll-behavior: none;
  padding-top: 0px;
  background: linear-gradient(180deg, #32373658 30.33%, #2f33319f 88.5%),
              radial-gradient(
                farthest-side at 50% 100%,
                rgba(174, 173, 173, 0.2),
                rgba(155, 155, 155, 0)
              ) center bottom;
}

.shadowTop, .shadowBottom {
  position: sticky;
  z-index: 10;
  width: 100%;
  min-height: 30px;
}

.shadowTop {
  top: -1px;
  transform: translateY(-.75px);
  background-image: linear-gradient(to bottom, #262B29, #00000000);
}

.shadowBottom {
  bottom: -1px;
  transform: translateY(0.75px);
  background-image: linear-gradient(to bottom, #00000000, #262B29);
}

.allGoodsContent, .incGoodsContent, .decGoodsContent {
  display: grid;
  justify-items: end;
  row-gap: 9px;
  transform: translateY(-10px);
}

.allGoodsContent {
  justify-items: center;
}

.incGoodsContent {
  justify-items: end;
  padding-right: 3%;
}

.decGoodsContent {
  justify-items: start;
  padding-left: 3%;
}

.costFooter {
  grid-column: 1 / span 2;
  /* align-content: center; */
  display: grid;
  grid-template-columns: .8fr 1.4fr .8fr;
  justify-content: center;
  align-items: end;
}

.footerLeft {
  width: 100%;
}

.costGoodsSubhead {
  width: 100%;
  padding-top: 14px;
}

.costGoodsSubhead p {
  color: #BDC1C0;
  text-align: center;
  font-family: Akatab;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.05px;
}

.invoiceMgmntContainer {
  grid-column: 3;
  justify-content: end;
  display: flex;
}

button.nav5, button.nav6 {
  width: 80px;
  height: 100%;
  background-color: #E4E4E4;
  color: rgba(100, 99, 99, .95);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  /* box-shadow: 0 0px 5px 0 rgba(239, 239, 239, 0.459), 3px 3px 10px 0 rgba(121, 121, 121, 0.25);  */
  margin: 0;
  font-family: Dongle;
  font-weight: 400;
  font-size: 22px;
  line-height: 13px;
  letter-spacing: .5px;
  padding-top: 4px;
  margin: 0 8px 0 0;
  align-self: center;
}

.nav5:hover, .nav6:hover {
  background-color: rgb(232, 230, 230);
}

@media (max-width: 430px) and (orientation: portrait) {
  .tabCostGoodsWrapper {
    /* background: #262B29; */
    background: linear-gradient(183deg, rgba(189, 193, 192, 0.19) -5.5%, rgba(131, 132, 132, 0.19) 99.28%);

    /* background: linear-gradient(119deg, #282c2a 8.04%, #262B29 129.51%); */
    box-shadow: none;
  }

  .costLabelContainer {
    background: #323634;
    box-shadow: 4px -2px 3px 0px rgba(0, 0, 0, 0.14) inset;
    transform: translateY(-1px);
  }

  .goodsContainer {
    max-height: 100%;
  }

  .shadowTop {
    top: -1px;
    transform: translateY(-.75px);
    background-image: linear-gradient(to bottom, rgba(84, 86, 86, 0.674), #00000000);
  }
  
  .shadowBottom {
    bottom: -1px;
    transform: translateY(0.75px);
    background-image: linear-gradient(to bottom, #00000000, #262B29);
  }
}

@media all and (min-width: 1194px) {
  .costLabel {
    font-size: 22px;
  }
}

@media all and (orientation: landscape) {
  .costGoodsHeader {
    height: 35px;
  }

  .costLabel {
    padding-top: 3px;
  }
}

@media (max-height: 768px) and (orientation: landscape) {
  .costGoodsWrapper {
    grid-template-rows: 35px 48px 1fr auto;
  }

  .goodsContainer {
    height: 95%;
  }
}
