.tabFooterWrapper, .footerWrapper {
  grid-row: 3;
  max-width: 100%;
  min-height: 100%;
  display: grid;
  background: rgba(29, 33, 32, 0.46);
}

.tabFooterWrapper {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 22%;
}

svg {
  cursor: pointer;
}

svg:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.footerWrapper {
  grid-template-columns: 1fr 2px 39px; 
  padding: 0 25px 0 41px;
  justify-content: flex-end;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset; 
}

.copyrightGroup {
  grid-column: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.keyContainer {
  grid-column: 1;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.keyScroll {
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
}

.keyGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.keyContainer svg {
  height: 69px;
}

.keyIcon, .closeIcon {
  grid-column: 2;
  cursor: pointer;
}

.keyIcon:hover, .closeIcon:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
}

/* .keyGroup:first-child {
  margin-right: auto;
} */

/* .keyGroup:last-child {
  margin-right: 1.5%;
} */

.keyGroup img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.keyGroup p {
  white-space: nowrap;
}

p.keyText {
  color: #BDC1C0;
  font-family: Akatab;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.84px;
  margin: 0 41px 0 0;
}

p.keyText {
  margin-right: 40px;
}

img.copyrightContainer {
  margin-right: 5px;
}

.copyrightContainer {
  max-width: 15px;
  max-height: 15px;
}

p.copyrightText {
  color: #555856;
  font-family: Akatab;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.2px;
  margin: 0;
}

.empty {
  height: 100%;
  min-width: 60px;
}

.shadowSide {
  position: sticky;
  z-index: 10;
  height: 85%;
  min-width: 206px;
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
  background: linear-gradient(269deg, rgba(34, 42, 39, 0.00) 33.61%, rgba(34, 42, 39, 1.00) 107.92%);
  box-shadow: 0px 4px 4px 0px rgba(29, 33, 32, 0.05) inset;
}

.divider {
  padding: 0;
}

.iconContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

@media all and (min-width: 1194px) {
  p.keyText {
    margin-right: 65px;
  }
}

@media all and (orientation: landscape) {
  .divider {
    height: 80%;
    width: 100%;
  }
}