.footerWrapper {
  grid-row: 3;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(29, 33, 32, 0.46);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;  
  padding: 0 0 0 41px;
  justify-content: flex-end;
}

.keyGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.keyGroup:first-child {
  margin-right: auto;
}

/* .keyGroup:last-child {
  margin-right: 1.5%;
} */

.keyGroup img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

p.keyText {
  color: #BDC1C0;
  font-family: Akatab;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.84px;
  margin: 0 41px 0 0;
}

p.keyText {
  margin-right: 40px;
}

.keyGroup img.copyrightContainer {
  margin-right: 5px;
}

.copyrightContainer {
  max-width: 15px;
  max-height: 15px;
  color: #858786;
}

p.copyrightText {
  color: #858786;
  font-family: Akatab;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.2px;
  margin: 0;
}