.headerWrapper {
  grid-row: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: #323634;
}

.logoContainer {
  position: sticky;
  top: 0;
  left: 41px;
  width: 75px;
  height: 53px;
  border-radius: 0px 0px 15px 15px ;
  background: #ffffff;
  box-shadow: -2px -2px 4px 0px rgba(0, 0, 0, 0.14) inset;
  display: grid;
  padding: 14px 5px 5px 5px;
  justify-content: center;
  z-index: 99999;
}

.logo {
  width: 65px;
}

.portraitContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subheadContainerPortrait, .subheadContainerLandscape {
  padding: 0 0 0 63px;
  align-self: center;
  color: #FEFFDA;
  font-family: Dongle;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 69.444% */
  letter-spacing: 1.88px;
  text-transform: uppercase;
  margin: 0;
}

.locationContainer {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.town, .about {
  color: #feffdab2;
  text-align: center;
  font-family: Dongle;
  font-size: 21px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin: 0;
  cursor: default;
}

.about {
  padding-right: 20px;
  cursor: pointer;
}

.about:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.pindrop {
  margin: 0px 24px 5px 10px;
}

@media all and (orientation: portrait) {
  .headerWrapper {
    /* flex-direction: column; */
  }

  .subheadContainerPortrait {
    align-self: flex-end;
    padding: 0px 20px 23px 0;
  }

  .subheadContainerLandscape {
    display: none;
  }

  .locationContainer {
    align-items: flex-start;
    padding-top: 8px;
  }

  .town, .about {
    letter-spacing: 1px;
    font-size: 19px;
  }

  .pindrop {
    align-self: flex-start;
    margin: 5px 17px 0 6px;
  }

  .about {
    margin: 0;
  }

  .logoContainer {
    left: 22px;
    width: 75px;
    padding-top: 18px;
  }
}

@media all and (orientation: landscape) {
  .subheadContainerPortrait {
    display: none;
  }

  .subheadContainerLandscape {
    display: unset;
  }
}

@media all and (min-width: 1194px) {
  .logoContainer {
    width: 86px;
    height: 68px;
    border-radius: 0px 0px 20px 20px ;
    padding-top: 18px;
  }

  .logo {
    width: 75px;
  }

  .subheadContainer {
    padding-left: 146px;
    font-size: 30px;
  }

  .town {
    font-size: 22px;
  }

}

@media (max-height: 650px) and (orientation: landscape) {
  .logoContainer {
    z-index: 0;
  }
}
