.infoWrapper, .tabInfoWrapper {
  max-width: 100vw;
  height: 100%;
  background: linear-gradient(183deg, rgba(189, 193, 192, 0.19) -5.5%, rgba(131, 132, 132, 0.19) 99.28%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiddenInfoWrapper {
  display: none;
}

.infoHeader {
  width: 160px;
  height: 38px;
}

.infoLabelContainer {
  justify-self: center;
  height: 100%;
  width: 100%;
  transform: translateY(-.5px);
  border-radius: 0px 0px 13px 13px;
  background: #323634;
  box-shadow: 4px -2px 3px 0px rgba(0, 0, 0, 0.14) inset;
}

.infoHeader svg {
  grid-column: 3;
  justify-self: end;
  padding-top: 10px;
  padding-right: 20px;
}

.infoLabel {
  padding-top: 3px;
  color: #FEFFDA;
  text-align: center;
  font-family: Dongle;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin: 0;
}
