.infoContainer {
  position: fixed;
  top: 90px;
  background: linear-gradient(144deg, rgba(61, 65, 63, 0.90) 22.07%, rgba(53, 58, 55, 0.90) 106.75%);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  z-index: 9999;
  height: calc((var(--vh, 1vh) * 100) - 159px);
  /* max-height: 100%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoBox {
  width: 80%;
  /* height: 438px; */
  border-radius: 13px;
  background: linear-gradient(32deg, #2a2c2c 7.93%, #212624 84.18%);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.blurb, .blurbWeek, .infoKey p {
  color: #BDC1C0;
  font-family: Akatab;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.05px;
  margin: 0;
}

.blurb {
  padding: 35px 21px 28px 21px;
}

.blurbWeek {
  padding: 10px 21px 17px 21px;
}

.infoKey {
  display: flex;
  flex-direction: column;
}

.infoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 17px;
  width: 100%;
}

.infoHeader h3 {
  color: #FEFFDA;
  font-family: Dongle;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  margin: 0 auto 0 0;
  padding: 0 0 0 21px;
  transform: translateY(4px);
}

.infoHeader svg {
  padding: 0 21px 0 0;
}

.tourismSubhead {
  padding: 0 0 10px 21px;
}

.tourismSubheadWeek {
  padding: 5px 0 5px 0;
}

.infoTourism1 {
  padding-left: 21px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 20px;
}

.infoTourism2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 21px;
  padding-bottom: 28px;
}

.costGoodsContain {
  padding-bottom: 28px;
}

.keyGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.keyContainer {
  padding-bottom: 10px;
}

.keyGroup img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* .keyGroup p {
  white-space: nowrap;
} */

p.keyText, .tourismSubhead {
  color: #BDC1C0;
  font-family: Akatab;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.84px;
  margin: 0;
}

.infoWeek1{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 0 21px 5px 21px;
}

.infoWeek2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}


@media (min-width: 667px) and (orientation: portrait) {
  .infoContainer {
    top: 95px;
    height: 100%;
    overflow-x: hidden;
  }
}

@media all and (orientation: landscape) {
  .infoContainer {
    top: 6vh;
    height: 94vh;
  }

  .infoBox {
    width: 50%;
    padding-bottom: 20px;
  }
}