.tourismWrapper {
  grid-row: 2;
  grid-column: 1;
  width: 100%;
  background: linear-gradient(119deg, #414141 8.04%, #222A27 129.51%);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tourismLabelContainer {
  width: 217px;
  height: 35px;
  border-radius: 0px 0px 13px 13px;
  background: #2C2F2F;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.14) inset;
}

.tourismLabel {
  padding-top: 3px;
  color: #FEFFDA;
  text-align: center;
  font-family: Dongle;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin: 0;
}

.calendarContainer {
  min-width: 100%;
  height: 100%;
  display: grid;
}

.tourismSubhead {
  color: #BDC1C0;
  text-align: center;
  font-family: Akatab;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 1.05px;
  margin: 0;
}

.calendarWrapper {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  grid-template-rows: 40px repeat(auto-fill, 55px);
  grid-auto-rows: 55px;
  justify-self: center;
  align-self: center;
};

.calMonth {
  grid-row: 1;
  grid-column: 1 / span 7;
  display: flex;
  padding-top: 8px;


};

.calArrowLeft, .calArrowRight {
  align-self: center;
}

p.calText {
  color: rgba(188, 188, 188, 0.27);
  font-family: Dongle;
  font-size: 38px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.6px;
  width: 100%;
  align-self: center;
  text-align: center;
  background: linear-gradient(180deg, rgba(221, 219, 219, 0.719) 0%, rgba(139, 139, 139, 0.673) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
};

/* // .dateContainer {
//   max
// } */

p.date {
  margin: 4px 0 0 4px;
  color: #5A5C5B;
  font-family: Dongle;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
};

.date:nth-last-child(-n+28) {
  font-weight: 400;
};

.percentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

p.propPercent {
  /* // margin: 2px 0 0 0; */
  font-family: Akatab;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: translateY(-2px);
  width: 68%;
  text-align: right;
};

p.percentSign {
  color: #5A5C5B;
  font-feature-settings: 'sups' on;
  font-family: Akatab;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 10px;
  margin: 0 0 14px 1px;
}

.listItemCal {
  display: grid;
  justify-content: center;
  align-items: center;
}

.dateBubble {
  display: grid;
  padding: none;
  width: 46px;
  height: 46px;
  border-radius: 8px;
  box-shadow: 4px 8px 10px 0px rgba(16, 15, 15, 0.10);
}

.holidayCorner {


}