/*
@media all and (min-width: 480px) {} mobile portrait
@media all and (min-width: 667px) {} mobile landscape
@media all and (min-width: 768px) {} mobile landscape wide / tablet portrait
@media all and (min-width: 834px) {} tablet portrait wide
@media all and (min-width: 1024px) {} tablet landscape
@media all and (min-width: 1280px) {} desktop
@media all and (min-width: 1440px) {} extra wide */

.weekWrapper {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.tabWeekWrapper, .weekWrapper {
  max-width: 100vw;
  height: 100%;
  background: linear-gradient(183deg, rgba(189, 193, 192, 0.19) -5.5%, rgba(131, 132, 132, 0.19) 99.28%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hiddenWeekWrapper {
  display: none;
}

.weekHeader {
  display: grid;
  grid-template-columns: .2fr 1fr .2fr;
  width: 100%;
  height: 44px;
}

.weekLabelContainer {
  grid-column: 2;
  justify-self: center;
  width: 198px;
  height: 100%;
  transform: translateY(-1px);
  border-radius: 0px 0px 13px 13px;
  background: #323634;
  box-shadow: 4px -2px 3px 0px rgba(0, 0, 0, 0.14) inset;
}

.weekHeader svg {
  grid-column: 3;
  justify-self: end;
  padding-top: 3px;
  padding-right: 20px;
}

.weekLabel {
  padding-top: 7px;
  color: #FEFFDA;
  text-align: center;
  font-family: Dongle;
  font-size: 21px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin: 0;
}

.weekdayCards {
  height: 100%;
  width: 100%;
  overflow-x: auto;
}

.weekdayCardsContainer {
  height: 100%;
  width: auto;
  /* gap: 1.3%; */
  transform: translateY(-2px);
}

.weekdayCardsContainer:first-child {
  margin-left: 40px;
}

.landscapeWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2%;
} 

.endDiv {
  margin-right: 40px;
  min-width: 20px;
  height: 100%;
  background: none;
}

.inFocusCard {
  /* width: 339px;
  height: 203px; */
  width: 330px;
  height: 200px;
  border-radius: 13px;
  background: rgba(38, 43, 41, 0.66);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
  cursor: pointer;
  /* margin: 5px; */
}

.dayCard {
  width: 110px;
  height: 200px;
  border-radius: 13px;
  background: rgba(38, 43, 41, 0.66);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
  cursor: pointer;
  /* margin: 5px; */
}

.cardHidden {
  display: none;
}

.inFocusCard:hover, .dayCard:hover {
  transform: scale(1.04);
  transition: all 0.3s ease;
}

.dayCardContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.dayDateFocusContainer {
  min-width: 215px;
}

.dayDateFocusContainer, p.dayDate {
  margin: 0;
  padding: 15px 0 0 9px;
  align-self: center;
}

p.dayDate, p.dayDateFocus {
  color: rgba(188, 188, 188, 0.27);
  font-family: Dongle;
  font-size: 22px;
  font-style: normal;
  font-weight: 400; 
  line-height: 15px;
  letter-spacing: 1.54px;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.719) 0%, rgba(197, 197, 197, 0.673) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

p.dayDateFocus {
  white-space: nowrap;
}

p.holidayTitle {
  color: #DF571C;
  font-family: Dongle;
  font-size: 22px;
  font-style: normal;
  font-weight: 400; 
  line-height: 15px;
  letter-spacing: 1.54px;
  text-transform: uppercase;
  padding-top: 0;
  margin: 0;
  max-width: 100%;
}

.dayWeek {
  font-size: 23px;
}

.weatherContainerFocus {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.weatherContainerFocus img {
  width: 44px;
  height: 44px;
  margin: 8px 10px 0 0;
}

.weatherDegreeContainer {
  width: 55px;
  padding: 1px 0px 0 0;
  margin: 8px 0 -3px 0;
}

.hiLoLabel {
  color: rgba(255, 255, 255, 0.50);
  font-family: Dongle;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 1.8px;
  margin: 0;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
  /* // justify-content: flex-end; */
  width: 100%;
  max-height: 100%;
  padding: 1px 9px 0 0;
  margin: 0 0 -3px 0;
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.weatherIcon {
  width: 30px;
  height: 30px;
  margin-top: 1px;
}

.weatherDegreeFocus, .weatherDegree {
  color: #FFF;
  text-align: right;
  font-family: Akatab;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  opacity: 0.9;
  margin: 0;
  transform: translateY(-5px);
}

span.weatherDegreeFocus {
  line-height: 16px;
  text-align: end;
  margin-left: 5px;
}

#weatherNudge {
  margin-left: 7px;
}

.weatherDegree {
  line-height: normal;
}

.inFocusContainer {
  display: flex;
  flex-direction: row;
  height: 128px;
}

.notInFocusContainer {
  height: 128px;
}

.eventInFocus {
  min-width: 215px;
  min-height: 100%;
  background: linear-gradient(84deg, #414443 11.78%, #383A39 88.78%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  overflow-y: scroll;
}

.shadowTop {
  position: sticky;
  z-index: 10;
  width: 100%;
  min-height: 10px;
  top: -1px;
  background-image: linear-gradient(to bottom, #2f302f, #2f302f00);
}

.eventInFocusHidden {
  display: none;
}

.eventsContainer {
  max-width: 100%;
  max-height: 100%;
  padding: 6px 5px 6px 12px;
}

.eventsHeader {
  width: 100%;
  color: rgba(188, 188, 188, 0.27);
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.719) 0%, rgba(197, 197, 197, 0.673) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Dongle;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 1.54px;
  padding-bottom: 4px;
  margin: 0;
}

.noEventsHeader {
  display: none;
}

.singleEventContainer {
  display: flex;
  flex-direction: row;
  /* // align-items: center; */
  margin-top: 4px;
  padding-right: 8px;
}

.singleEventContainer svg {
  margin: 2px 0 0 0;
  align-self: first baseline;
}

.singleEventContainer p {
  margin: 0;
  padding-bottom: 4px;
  letter-spacing: 0.35px;
}

.singleEventContainer blockquote {
  margin: 0;
  padding-left: 0px;
  font-size: 11px;
}

.singleEventContainer:last-child {
  margin-bottom: 12px;
}

.eventDescription {
  width: 100%;
  padding-left: 8px;
  color: rgba(255, 255, 255, 0.80);
  font-family: Akatab;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.eventDescription p {
  color: #FFF;
  font-weight: 500;
}

.salesLaborContainer {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dividerLine {
  width: 100%;
  display: flex;
  justify-content: center;
}

.factorContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 8px 0 3px 0;
}

.dollarSignLabor, .laborTotalA, .laborTotalB, .dollarSignSales, .salesTotalA, .salesTotalB {
  text-align: center;
  font-family: Akatab;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.dollarSignlabor, .dollarSignSales {
  font-size: 16px;
  padding: 0 2px 0 0;
}

.dollarSignLabor, .laborTotalA, .laborTotalB {
  color: #5779FF;
}

.dollarSignSales, .salesTotalA, .salesTotalB {
  color: #D8DB5F;
}

.laborTotalA, .salesTotalA {
  font-size: 24px;
  letter-spacing: 2.16px;
}

.laborTotalB, .salesTotalB {
  font-size: 22px;
  letter-spacing: 1.98px;
}

.salesLabels {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 2px;
}

.factorLabel {
  color: #858786;
  font-family: Akatab;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 12px;
  letter-spacing: 0.2px;
  margin: 0 0px 0 9px;
}

#laborLabel {
  text-align: center;
  margin: 2px 0 3px 0;
}

#salesLabelA {
  text-align: left;
  /* width: 100%; */
}

#salesLabelB {
  text-align: right;
  width: 100%;
  color: rgba(188, 188, 188, 0.27);
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.719) 0%, rgba(197, 197, 197, 0.673) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 9px 0 0;
}

.customBarContainer {
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.customBar {
  width: 100%;
  height: 24px;
  border-radius: 0px 0px 13px 13px;
  box-shadow: 2px 2px 4px 0px rgba(16, 15, 15, 0.25);
  background-repeat: no-repeat, no-repeat;
  background-position: -2px -2px, center;
  background-size: auto, cover;
}

.backgroundLayer, .colorLayer {
  width: 100%;
  border-radius: 0px 0px 13px 13px;
  box-shadow: 2px 2px 4px 0px rgba(16, 15, 15, 0.25);
}

.backgroundLayer {
  min-height: 24px;
  transform: scaleY(1.02);
}

.eventHolidayAlerts {
  padding-left: 8px;
  max-width: 100%;
  /* max-height: 100%; */
  height: 100%;
  display: grid;
  grid-template-columns: .5fr 1fr .5fr;
  align-items: center;
}

.rentalsOccupiedText {
  grid-column: 1;
}

.rentalsOccupiedText, .aMPM {
  color: #5A5C5B;
  font-family: Akatab;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.2px;
  margin: 0;
  padding: 0 0 1px 4px;
}

.centerContainer {
  grid-column: 2;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.percentContainerA, .percentContainerB {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.percentContainerA {
  padding-right: 0px;
}

.percentContainerB {
  padding-left: 0px;
  padding-right: 8px;
}

.percentContainerA p, .percentContainerB p {
  font-family: Akatab;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  margin: 0;
}

p.percentSign {
  color: #5A5C5B;
  font-feature-settings: 'sups' on;
  font-family: Akatab;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  line-height: 10px;
  padding-top: 3px;
}

.eventAlerts {
  grid-column: 1 / span 2;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.eventHolidayAlerts svg {
  align-self: center;
  max-width: 100%;
  margin-right: 6px;
}

.holidayAlert {
  grid-column: 3;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  transform: translateY(-.25px);
}

.holidayAlert Img {
  height: 21px;
  align-self: last baseline;
}

.hideHolidayAlert {
  display: none;
}

@media (max-width: 430px) and (orientation: portrait) {

  .tabWeekWrapper {
    background: linear-gradient(119deg, #414141 8.04%, #2e3131 129.51%);
  }

  .weekHeader {
    height: 35px;
  }

  
  .weekLabel {
    padding-top: 4px;
  }
  
  .weekHeader svg {
    padding-top: 0;
  }

  .weekdayCardsContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    row-gap: 10px;
  }

  .inFocusWrap {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
  }

  .weekdayCardsContainer:first-child {
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .inFocusCard {
    grid-row: 1;
    align-self: center;
    cursor: auto;
  }

  .mobileCardContainer {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    padding-left: 22px;
    gap: 10px;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    align-items: center;
  }

  .endDiv {
    margin-right: 13px;
    width: 20px;
  }

  .inFocusCard:hover {
    transform: none;
    transition: none;
  }
}

/* tablet portrait */
@media all and (orientation: landscape) {
  .weekHeader {
    height: 35px;
  }

  .weekLabel {
    padding-top: 3px;
  }

}


/* tablet */

@media all and (min-width: 1133px) {
  .weekdayCardsContainer {
    display: flex;
    align-content: center;
  }
}


@media all and (min-width: 1194px) {
  .weekLabel {
    font-size: 22px;
  }

  .weekdayCards {
    /* width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5%; */
    /* overflow-x: unset; */
  }

  .weekdayCardsContainer {
    justify-content: center;
    width: 100%;
    gap: 1.9%;
  }
  
  .weekdayCardsContainer:first-child {
    margin-left: 0;
  }

  .landscapeWrap {
    width: 100%;
    justify-content: center;
  }

  .inFocusCard {
    width: 339px;
    height: 203px;
  }

  .dayCard {
    width: 112px;
    height: 203px;
  }

  .weatherDegreeFocus, .weatherDegree {
    font-size: 16px;
  }
  
  .endDiv {
    display: none;
  }
}


/* desktop */

@media all and (min-width: 1280px) {
  .weekdayCards {
    gap: 2%;
  }
}

@media (hover: none) {
  .inFocusCard:hover, .dayCard:hover {
    transform: none;
  }
}