
html,
body,
:root {
  background: linear-gradient(86deg, #414141 17.47%, #222A27 83.41%);
  overscroll-behavior: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Outfit';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
